<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <p>
          こんにちは、
          <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
        </p>
      </div>
      <div class="prototype__wrapper">
        <%= link_to "新規プロトタイプ投稿", new_prototype_path, class: :prototype__btn %>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
</main>
